extends layout

block content
	//- h1= title
	//- p Welcome to #{title} aka Dize's future site

	//- .smoke
	section(class="jumbo" id="welcome")
		section.grid
			.square.left
				p.blurb Focused
			.square.right
				p.blurb 
					a(href="/about") About Me
		section.grid
			.square.left
				p.blurb 
					a(href="/work") My Work 
			.square.right
				p.blurb 
					a(href="/contact") Contact

	//- section(class="jumbo" id="about")
	//- 	.row
	//- 		.heading Hello
	//- 		.col-xs-6
	//- 			.about-me-blurb
	//- 				p Me, Dize.  
	//- 		.col-xs-6
	//- 			p A picture or something?

	//- section(class="jumbo" id="work")
	//- 	.heading My Portfolio

	//- section(class="jumbo" id="contact-me")
	//- 	.heading Contact Me
	//- 	form
	//- 		.form-group
	//- 			input.form-control(type="text" placeholder="Name")
	//- 			input.form-control(type="text" placeholder="Email")
	//- 			input.form-control(type="text-area" placeholder="Message")
	//- 	p
	//- 		a(href="//www.github.com/dizehacioglu")
	//- 			img(src="/images/github17.png" alt="Github Icon")
	//- 		a(href="//www.linkedin.com/in/dizehacioglu")
	//- 			img(src="/images/linkedin21.png" alt="LinkedIn Icon")
	//- 		a(href="//twitter.com/dizehacioglu")
	//- 			img(src="/images/logotype191.png" alt="Twitter Icon")
























