doctype html
html
	head
		title= "Dize Hacioglu"
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css')
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet", integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==", crossorigin="anonymous")
	body
			
		//- nav 
		//- 	div(class="nav-image")
		//- 		p Dize Hacioglu
		//- 	ul(class="nav")
		//- 		li(class="nav-link") 
		//- 			a(href="/#welcome") Home
		//- 		li(class="nav-link") 
		//- 			a(href="/#about") About
		//- 		li(class="nav-link") 
		//- 			a(href="/#work") Work
		//- 		li(class="nav-link") 
		//- 			a(href="/#contact-me") Contact Me

		block content

		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A==", crossorigin="anonymous")