html {
	position: relative;
	min-height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	/*align-items: center;*/
	margin: 0px;
	padding: 0px;
	background: #F2F2F2;
	color: #414141;
	font-size: 12px;
	line-height: 175%;
	font-family: 'Lucide Grande', sans-serif;
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 2s; /* Firefox < 16 */
	-ms-animation: fadein 2s; /* Internet Explorer */
	-o-animation: fadein 2s; /* Opera < 12.1 */
	animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

header {
	margin: 10px;
	font-style: italic;
}

nav .logo{
	display: inline-block;
	/*float: left;*/
}

.links{
	display: inline-block;
	float: right;
	margin-top: 230px;
}

.nav-link a{
	margin-right: 5px;
	text-decoration: none;
	color: #414141;
}

.nav-link a#about-link {
	position: absolute;
	left: 32%;
}

.nav-link a#work-link {
	position: absolute;
	left: 49%;
}

.nav-link a#contact-link {
	position: absolute;
	left: 65%;
}

.banner {
	flex: 0;
	font-family: 'Raleway 400', sans-serif;
	height: 300px;
	background-image: url('/images/Flower_Pattern.png');
	background-size: 480px;
	border-bottom: 2px #414141 solid;
}

.initials {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(242,242,242,0.7);
	box-shadow: 1px 1px 1px rgba(242,242,242,.5);
	/*border-radius: 50%;*/
	margin: 0 auto;
	height: 300px;
	width: 100vw;
	font-size: 24px;
	position: absolute;
	/*left: 44.5%;*/
	/*top: 6.5%;*/
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

section .heading{
	font-family: 'Raleway', sans-serif;
	/*color: #CE6643;*/
	letter-spacing: 1px;
	font-size: 16px;
	font-weight: bold;
}

.dots {
	text-align: center;
}

.circle {
	display: inline-block;
	background-color: #CE6643;
	margin: 0 20px;
	/*border: 1px solid black;*/
	border-radius: 50%;
	width: 5px;
	height: 5px;
}

section #contact {
	text-align: center;
}

.link-in-section {
	text-align: right;
}

section a {
	color: #414141;
}

section .link-in-section a {
	text-align: right;
	text-decoration: none;
	color: #CE6643;
	font-style: oblique;
	font-size: 9px;
}

hr {
	width: 50%;
	/*border-width: 2px;*/
}

.project-descrip {
	display: inline-block;
	width: 50%;
}

.project-image {
	display: inline-block;
	float: right;
	width: 50%;
}

.project-image img {
	margin: 5px;
}

section#contact a{
	margin: 0 10px;
}

input {
	padding: 5px;
	width: 95%;
}

input#message {
	height: 100px;
}

footer {
	margin-top: auto;
	/*flex: 2;*/
	/*position: absolute;
	left: 0;
	bottom: 0;*/
	height: 58px;
	width: 100%;
	background-color: #CE6643;
	text-align: center;
}

footer img {
	padding: 5px;
	width: 30px;
}

/* MEDIA QUERIES */
@media only screen and (min-width : 480px)  {
	section {
		width: 55%;
		/*display: none;*/
	}
}

/*For landspace tablets and desktop screens*/
@media only screen and (min-width : 1024px) {
	section {
		width: 25%;
	}
}
