<section id="contact">
  <center>
  <span class="heading">
    <span>Let's Talk</span>
    <div class="dots">
      <div class="circle"></div><div class="circle"></div><div class="circle"></div>
    </div>
    <p><form class="contact-box" method="post">
      <input type="textarea" ng-model="view.contact.name" placeholder="Your Name" required>
      <input type="textarea" ng-model="view.contact.email" placeholder="Your Email" required>
      <input type="textarea" id="message" ng-model="view.contact.message" placeholder="Your Message">
      <input type="submit" ng-click="view.printInfo()" name="name" value="Submit">
    </form>

    <p>
      <a href="http://www.github.com/dizehacioglu"><i class="fa fa-github" aria-hidden="true"></i></a>
      <a href="http://www.linkedin.com/in/dizehacioglu"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      <a href="http://www.twitter.com/dizehacioglu8"><i class="fa fa-twitter" aria-hidden="true"></i></a>
    </p>
  </span>
</center>
</section>
