<section id="education">
  <span class="heading"><center>Education</center></span>
  <div class="dots">
    <div class="circle"></div><div class="circle"></div><div class="circle"></div>
  </div>
  <div class="row">
    <div class="col col-1">
      <span class="school-title">New York University</span> <span class="school-dates">2010 - 2014</span>
      <p>Major: Psychology<br>
      Minor: Computer Science<br>
      Graduated with Honors</p>
    </div>
    <div class="col col-2">
      <span class="school-title">Trinity College Dublin</span> <span class="school-dates">2014</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <span class="school-title">RefactorU</span> <span class="school-dates">2015</span>
      <p></p>
    </div>
  </div>

  <div class="link-in-section">
    <a href="/experience">Experience &#8594;</a>
  </div>

</section>
