<section id="about">
  <span class="heading">Hello, I'm Dize.<br>
    Insert short intro here. Zombies reversus ab inferno, nam malum cerebro.
  </span>
  <div class="dots">
    <div class="circle"></div><div class="circle"></div><div class="circle"></div>
  </div>
  <div class="long-bio">
    <p>
      Zombies reversus ab inferno, nam malum cerebro. De carne animata corpora quaeritis. Summus sit​​, morbo vel maleficia?
    </p>
    <p>
      Cum horribilem resurgere de sepulcris creaturis, sicut de iride et serpens. Pestilentia, ipsa screams. Qui tardius moveri, sed in magna copia sint terribiles legionis.
    </p>
  </div>

  <div class="link-in-section">
    <a href="#">Education &#8594;</a>
  </div>

</section>
